<i class="fa fa-times pointer" (click)="dialogRef.close()"></i>
<p class="title text-center" mat-dialog-title>{{ contact.id ? contact.firstName + ' ' + contact.lastName : 'איש קשר חדש' }}</p>
<form #f="ngForm" (ngSubmit)="submit(f.valid)" novalidate mat-dialog-content>
  <div class="row">
    <mat-form-field class="col-4">
      <mat-select name="entityType" placeholder="בחר סוג איש קשר" (selectionChange)="setEntityType()" [(ngModel)]="contact.entityType">
        <mat-option [value]="0">מעסיק</mat-option>
        <mat-option [value]="1">סוכן</mat-option>
        <mat-option [value]="3">יצרן</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-4-lg-4">
      <mat-select name="entity" placeholder="בחר איש קשר" [(ngModel)]="contact.entityID">
        <mat-option *ngIf="!contact.entityType">בחר סוג איש קשר</mat-option>
        <mat-option [value]="entity.id" *ngFor="let entity of typeEntities">{{ entity.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-lg-4">
      <input matInput type="text" [(ngModel)]="contact.firstName" name="firstName" placeholder="שם פרטי" #firstName="ngModel" required>
      <mat-error *ngIf="firstName.errors && f.submitted">שדה חובה.</mat-error>
    </mat-form-field>
    <mat-form-field class="col-lg-4">
      <input matInput type="text" [(ngModel)]="contact.lastName" name="lastName" placeholder="שם משפחה" #lastName="ngModel" required>
      <mat-error *ngIf="lastName.errors && f.submitted">שדה חובה.</mat-error>
    </mat-form-field>
    <mat-form-field class="col-lg-4">
      <input matInput type="text" [(ngModel)]="contact.phone" name="phone" placeholder="מס' טלפון">
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-lg-4">
      <input matInput type="text" [(ngModel)]="contact.mobile" name="mobile" placeholder="מס' נייד">
    </mat-form-field>
    <mat-form-field class="col-lg-4">
      <input matInput type="email" [(ngModel)]="contact.email" name="email" placeholder="כתובת מייל" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
      <mat-error *ngIf="email.errors && f.submitted">כתובת מייל לא תקינה.</mat-error>
    </mat-form-field>
    <mat-form-field class="col-lg-4">
      <input matInput type="text" [(ngModel)]="contact.role" name="role" placeholder="תפקיד">
    </mat-form-field>
  </div>
  <p class="alert alert-danger" *ngIf="isSuccessful === false">קרתה שגיאה, אנא נסה שנית או צור קשר.</p>
  <mat-spinner class="mr-auto ml-auto mb-3" *ngIf="isSubmitting"></mat-spinner>
  <div class="text-center text-lg-left form-actions" mat-dialog-actions>
    <button type="submit" class="btn btn-success" mat-dialog-close="">שלח</button>
  </div>
</form>
