#pageContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  border-bottom: 4px solid #a9a6a9;
  box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.36);
}

#topHeader {
  height: 50px;
  background-color: #eaeaea;
}

#topHeader > i {
  color: #356cb3;
  cursor: pointer;
  font-size: 22px;
  transform: rotate(180deg);
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff !important;
}

#mainMenu .logo {
  width: 150px;
}

#mainMenu > .navbar {
  padding: 8px;
  background-color: #fff;
}

#mainMenu .navbar-nav img {
  display: block;
  height: 27px;
  width: 29px;
  margin: 0 auto;
}

#mainMenu .nav-item {
  position: relative;
  padding: 0 8px;
  border-left: 2px solid #d7d7d7;
}

#mainMenu .nav-item:hover {
  font-weight: bold;
}

#mainMenu .nav-item .arrow-down {
  position: absolute;
  top: 79px;
  left: 50%;
  transform: translateX(-50%);
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  border-top: 10px solid #a9a6a9;
}

#mainMenu .nav-link > span {
  font-family: HeeboMedium;
}

.navbar-brand {
  text-align: left;
}

#content {
  flex: 1 0 auto;
  padding: 15px 0;
}

footer {
  width: 100%;
  box-shadow: -3px -2px 24px 0 rgba(0, 0, 0, 0.36);
  border-top: 2px solid #356cb3;
}

footer p {
  margin: 0;
}

footer p, footer span {
  font-weight: bold;
}

footer img {
  height: 50px;
}

@media (max-width: 992px) {
  #mainMenu .nav-item {
    text-align: center;
    font-weight: bold;
    border-left: none;
  }

  #mainMenu .navbar-nav img {
    display: none;
  }
}
