#startTransmissionButton {
  width: 300px;
  font-size: 22px;
  cursor: pointer;
}

.center{
  display: flex;
  justify-content: center;
}

.fa-comment-value {
  color:#DA8517;
}

.fa-comment-value:hover {
  color:#43c7d7;
}
