.background3 {
    color: #acaaac !important;
  }

  .colortitle { color:#0f72b6;}
.redBoled{
  color:red;
   font-weight: bold;
}
  .colortitle1 > i {
  color: #0fb634;;
    margin-right: -34px;
  padding-left: 10px;
 
}

::ng-deep .mat-checkbox-layout {
  white-space: normal !important;
}

 ::ng-deep .mat-checkbox-inner-container {
  margin-top: 2px !important;
}