<div class="d-lg-flex align-content-center justify-content-end">
    <div class="mb-3 mb-lg-0 pt-2 text-center text-lg-right">
        <span>
          <span>מציג</span>
          <span class="bold">{{ ((data.currentPage - 1) * data.limit) + 1 }} - {{ getMaxShownItems() }}</span>
          <span>מתוך</span>
          <span class="bold">{{ data.totalItems }}</span>
          <span>רשומות</span>
        </span>
    </div>
    <ul class="pagination justify-content-center">
        <li class="page-item" (click)="linkClicked()">
            <a class="page-link" [routerLink]="getUrl()" [queryParams]="{ page: 1 }">
                <i class="fa fa-angle-double-right"></i>
            </a>
        </li>
        <li class="page-item" *ngIf="data.currentPage - 2 >= 1" (click)="linkClicked()">
            <a class="page-link" [routerLink]="getUrl()" [queryParams]="{ page: data.currentPage - 2 }">{{ data.currentPage - 2 }}</a>
        </li>
        <li class="page-item" *ngIf="data.currentPage - 1 >= 1" (click)="linkClicked()">
            <a class="page-link" [routerLink]="getUrl()" [queryParams]="{ page: data.currentPage - 1 }">{{ data.currentPage - 1 }}</a>
        </li>
        <li class="page-item active">
            <a class="page-link">{{ data.currentPage }}</a>
        </li>
        <li class="page-item" *ngIf="data.currentPage + 1 <= data.totalPages" (click)="linkClicked()">
            <a class="page-link" [routerLink]="getUrl()" [queryParams]="{ page: data.currentPage + 1 }">{{ data.currentPage + 1 }}</a>
        </li>
        <li class="page-item" *ngIf="data.currentPage + 2 <= data.totalPages" (click)="linkClicked()">
            <a class="page-link" [routerLink]="getUrl()" [queryParams]="{ page: data.currentPage + 2 }">{{ data.currentPage + 2 }}</a>
        </li>
        <li class="page-item" (click)="linkClicked()">
            <a class="page-link" [routerLink]="getUrl()" [queryParams]="{ page: data.totalPages }">
                <i class="fa fa-angle-double-left"></i>
            </a>
        </li>
    </ul>
</div>
