<form id="processUploadForm" #processForm="ngForm" class="container py-3">
  <div class="d-flex align-items-center mb-3 upload-step-title">
    <i class="fa fa-chevron-right previous-step-btn" *ngIf="activeUploadStep > 3" (click)="activeUploadStep = activeUploadStep - 1"></i>
    <p class="h3" [ngClass]="{ 'text-center': activeUploadStep === 1 || activeUploadStep === 4 }">{{ getTitle() }}</p>
  </div>
  <div *ngIf="activeUploadStep === 1">
    <div class="row justify-content-between mb-3 mt-5">
      <mat-form-field class="col-12 col-sm ml-5">
        <input matInput name="addToProcessName" type="text" placeholder="שם תהליך" [(ngModel)]="process.addToProcessName">
      </mat-form-field>
      <mat-form-field class="col-12 col-sm mr-5">
        <mat-select name="employer" placeholder="שם מעסיק" [(ngModel)]="process.employer.id"  [required]="true">
          <mat-option *ngFor="let employer of employers" [value]="employer.id">{{ employer.name }}</mat-option>
        </mat-select>
        <mat-error>יש לבחור מעסיק.</mat-error>
      </mat-form-field>
    </div>
    <div class="row justify-content-between my-4">
      <mat-form-field class="col-12 col-sm ml-5">
        <mat-select name="month" placeholder="בחר חודש" [(ngModel)]="process.month" #monthSelect="ngModel" [required]="true">
          <mat-option *ngFor="let month of months; let i = index" [value]="i + 1">{{ month }}</mat-option>
        </mat-select>
        <mat-error>יש לבחור חודש.</mat-error>
      </mat-form-field>
      <mat-form-field class="col-12 col-sm mr-5">
        <mat-select name="year" placeholder="בחר שנה" [(ngModel)]="process.year" #yearSelect="ngModel" [required]="true">
          <mat-option [value]="currentYear">{{ currentYear }}</mat-option>
          <mat-option [value]="currentYear - 1">{{ currentYear - 1 }}</mat-option>
        </mat-select>
        <mat-error>יש לבחור שנה.</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="narrow-width" *ngIf="activeUploadStep === 2">
    <div id="selectFileContainer" [ngClass]="{ 'uploaded': paymentsFile }" ng2FileDrop (ng2FileDropFileAccepted)="setFile($event.acceptedFile)">
      <span id="removeUploadedFile" (click)="removeFile()" *ngIf="paymentsFile">
          <i class="fa fa-times"></i>
      </span>
      <label class="pointer" *ngIf="!paymentsFile" (change)="setFile($event.target.files[0])">
        <img src="/assets/img/icons/cloud-backup.svg" class="mb-1 icon-lg">
        <p class="h5 grey-color">בחר קובץ להעלאה</p>
        <p class="h6 grey-color">או גרור קבצים לכאן</p>
        <input type="file">
      </label>
      <div id="fileUploadedContainer" class="text-center" *ngIf="paymentsFile">
        <i class="fa fa-check"></i>
        <p *ngIf="paymentsFile" class="bold word-break w-75 mx-auto">{{ paymentsFile.name }}</p>
      </div>
    </div>
    <p class="alert alert-danger" *ngIf="fileTypeError">יש להעלות קבצי XML בלבד.</p>
    <p class="alert alert-danger" *ngIf="noFileError">יש להעלות קובץ.</p>
    <p class="bold text-center mt-3">
      <span class="grey-color">ליצירת תהליך ידני</span>
      <span class="link">לחץ כאן</span>
    </p>
  </div>
  <ng-container *ngIf="activeUploadStep === 3">
    <p class="h4 text-center">
      <span class="grey-color">{{ isPaymentTransferred ? 'לקבלת עדכון סיום הטעינה במייל' : 'לקבלת הנחיית תשלום במייל' }}</span>
      <span class="bold link pointer" (click)="openTransitionDialog()">לחץ כאן</span>
    </p>
    <p class="h5 mb-5 text-center grey-color">{{ isPaymentTransferred ? 'או המתן לטעינת הקובץ' : 'או המתן לטעינת הקובץ ואפשרות להורדת הנחיית תשלום' }}</p>
    <div class="col col-md-6 mx-auto">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      <p class="mt-1 f-12 grey-color">ניתן לצאת ממסך זה ולחזור לאחר הטעינה ממסך התהליכים.</p>
    </div>
  </ng-container>
  <div class="text-center text-md-left" *ngIf="activeUploadStep < 3">
    <button type="submit" class="btn btn-primary" (click)="setActiveUploadStep(activeUploadStep + 1, processForm)">המשך</button>
  </div>
</form>
