<i class="fa fa-times pointer" (click)="dialogRef.close()"></i>
<p class="title text-center" mat-dialog-title>{{ employee.id ? employee.firstName + ' ' + employee.lastName : 'עובד חדש' }}</p>
<form #f="ngForm" (ngSubmit)="submit(f.valid)" novalidate mat-dialog-content>
  <div class="row">
    <mat-form-field class="col-lg-4">
      <input matInput type="text" name="employer" readonly [ngModel]="employee.employer.name" placeholder="מעסיק">
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col">
      <input matInput type="text" [(ngModel)]="employee.firstName" name="firstName" placeholder="שם פרטי" #firstName="ngModel" required>
      <mat-error *ngIf="firstName.errors && f.submitted">שדה חובה.</mat-error>
    </mat-form-field>
    <mat-form-field class="col">
      <input matInput type="text" [(ngModel)]="employee.lastName" name="lastName" placeholder="שם משפחה" #lastName="ngModel" required>
      <mat-error *ngIf="lastName.errors && f.submitted">שדה חובה.</mat-error>
    </mat-form-field>
    <mat-form-field class="col">
      <input matInput type="text" [(ngModel)]="employee.identityNumber" name="identityNumber" placeholder="מס' תעודת זהות" #identityNumber="ngModel" appIDValidator required>
      <mat-error *ngIf="identityNumber.errors && identityNumber.errors.required && f.submitted">שדה חובה.</mat-error>
      <mat-error *ngIf="identityNumber.errors && identityNumber.errors.id && f.submitted">מס' תעודת זהות לא תקין.</mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col">
      <input matInput type="text" [(ngModel)]="employee.phone" name="phone" placeholder="מס' טלפון">
    </mat-form-field>
    <mat-form-field class="col">
      <input matInput type="text" [(ngModel)]="employee.mobile" name="mobile" placeholder="מס' נייד">
    </mat-form-field>
    <mat-form-field class="col">
      <input matInput type="email" [(ngModel)]="employee.email" name="email" placeholder="כתובת מייל" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
      <mat-error *ngIf="email.errors && f.submitted">כתובת מייל לא תקינה.</mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-lg-4">
      <input matInput type="text" [(ngModel)]="employee.address" name="address" placeholder="כתובת">
    </mat-form-field>
  </div>
  <p class="alert alert-danger" *ngIf="isSuccessful === false">קרתה שגיאה, אנא נסה שנית או צור קשר.</p>
  <mat-spinner class="mr-auto ml-auto mb-3" *ngIf="isSubmitting"></mat-spinner>
  <div class="text-center text-lg-left form-actions" mat-dialog-actions>
    <button type="submit" class="btn btn-success" mat-dialog-close>שלח</button>
  </div>
</form>
