.payment-option {
  padding-top: 25px;
  cursor: pointer;
}

.payment-option:hover, .payment-option.selected {
  background-color: #fff;
  box-shadow: 0px 4px 62px 0 rgba(0, 0, 0, 0.27);
}

.payment-option-inner {
  position: relative;
}

.payment-option-inner > .tooltip-circle-image {
  position: absolute;
  top: -30px;
  right: 10px;
  height: 60px;
  width: 60px;
  background: url('../../../../assets/img/processes/tooltip-circle.svg') no-repeat;
}

.payment-option-inner > .tooltip-circle-image > .tooltip-question-mark-image {
  position: absolute;
  right: 10%;
  top: 13%;
  height: 39px;
  width: 39px;
  background: url('../../../../assets/img/processes/tooltip-question-mark.svg') no-repeat;
}

.payment-option-inner > .img-fluid {
  height: 70px;
}

.payment-option-inner > p {
  height: 51px;
  width: 70%;
  margin: 20px auto 0 auto;
  border-bottom: 3px solid #00adee;
}

#startTransmissionButton > span {
  color: #3b3b39;
}

#startTransmissionButton > i {
  color: #fff;
  vertical-align: middle;
}

@media (max-width: 992px) {
  #processGeneralInfo li {
    display: inline-block;
    width: 45%;
    padding: 0;
    border-left: none;
  }

  #processIntro > div:first-child {
    border-left: none;
  }

  #detailsOptionFormats > * {
    font-size: 24px;
  }

  #detailsOptionFormats > p {
    vertical-align: middle;
  }

  #processIntro .details-format-option {
    padding: 8px 26px;
  }

  #startTransmissionButton {
    width: auto;
  }
}

@media (max-width: 596px) {
  #processGeneralInfo li {
    display: block;
    width: 100%;
    font-size: 18px;
  }

  #detailsOptionFormats > a {
    width: 100%;
  }
}
