<div class="mt-5 data-table">
  <div class="data-table-actions">
    <div>
      <a class="data-table-action" (click)="openFormDialog()">
      <span class="action-logo">
        <i class="fa fa-user"></i>
      </span>
        <span>הוסף עובד</span>
      </a>
    </div>
    <div class="mt-3">
      <mat-form-field>
        <mat-select placeholder="בחר מעסיק" (selectionChange)="search()" [(ngModel)]="selectedEmployer">
          <mat-option *ngFor="let employer of employers" [value]="employer">{{ employer.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="mr-3">
        <input matInput type="text" placeholder="חיפוש עובד" [(ngModel)]="searchCriteria['q']" (keyup)="search($event.keyCode)">
      </mat-form-field>
    </div>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
    <tr class="headers">
      <th *ngFor="let header of headers" (click)="sort(header.column)">
        <span>{{ header.label }}</span>
        <i [class]="getHeaderIconClass()" *ngIf="orderCriteria.orderBy === header.column"></i>
      </th>
      <th>פעולות</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngIf="!isSearching">
      <tr *ngFor="let item of paginatedItems">
        <td>{{ item.employer.name }}</td>
        <td>{{ item.firstName }} {{ item.lastName }}</td>
        <td>{{ item.identityNumber }}</td>
        <td>{{ item.phone }}</td>
        <td>{{ item.mobile }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.address }}</td>
        <td class="row-actions">
          <i class="fa fa-pencil" (click)="openFormDialog(item)"></i>
          <!--<i class="fa fa-trash" (click)="delete(item.id)"></i>-->
        </td>
      </tr>
    </ng-container>
    <tr *ngIf="isSearching">
      <td colspan="10">
        <mat-spinner class="mr-auto ml-auto"></mat-spinner>
      </td>
    </tr>
    </tbody>
  </table>
  <app-pagination [data]="paginationData" *ngIf="items.length > 0"></app-pagination>
</div>
