<p class="mb-5 title">מעקב שגויים - לפי קובץ</p>


<div class="table-actions">
  <div>
    <mat-form-field class="ml-3">
      <mat-select placeholder="בחר מעסיק" [(ngModel)]="searchCriteria['employerID']">
        <mat-option *ngFor="let employer of employers" [value]="employer.id">{{ employer.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>


  <mat-form-field class="ml-3">
    <mat-select placeholder="בחר סטטוס" [(ngModel)]="searchCriteria['statusID']" (selectionChange)="search()">
      <mat-option [value]="-1">הכל</mat-option>
      <mat-option *ngFor="let status of statuses" [value]="status.id">{{ status.text }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="ml-3">
    <mat-select style="text-align: right;" placeholder="בחר חברה מנהלת" [(ngModel)]="searchCriteria['manufacturerID']" (selectionChange)="search()">
      <mat-option [value]="-1">הכל</mat-option>
      <mat-option *ngFor="let manufacturer of manufacturers" [value]="manufacturer.id">{{ manufacturer.text }}</mat-option>
    </mat-select>
  </mat-form-field>



  <mat-form-field class="ml-3">
    <mat-select placeholder="בחר שנה" [(ngModel)]="searchCriteria['year']" (selectionChange)="setYear($event.value)">
      <mat-option [value]="currentYear">{{ currentYear }}</mat-option>
      <mat-option [value]="currentYear - 1">{{ currentYear - 1 }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="ml-3">
    <mat-select multiple placeholder="בחר חודש" [ngModel]="searchCriteria['months']" (selectionChange)="setMonths($event.value)">
      <mat-option value="full">כל החודשים</mat-option>
      <mat-option *ngFor="let month of months;let i = index" [value]="i+1">{{ month }}</mat-option>
    </mat-select>
  </mat-form-field>

  <select2 class="ml-3" [data]="processes" [value]="selectedValue" [options]="select2Options" (valueChanged)="setSearch('processId', $event.value)"></select2>

</div>
<table class="table table-bordered table-striped data-table">
  <thead>
  <tr>
    <th>שם יצרן</th>
    <th>סוג מוצר</th>
    <th>נושא פניה</th>
    <th>חודש שכר</th>
    <th>סכום תשלום</th>
    <th>שם קובץ שנשלח</th>
    <th>תאריך יצירת פניה</th>
    <th>גורם מטפל</th>
    <th>סטטוס טיפול</th>
    <th>תאריך עדכון אחרון</th>
    <th>הערות</th>
    <th>פרטים</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of items">
    <td>{{ item.manufacturer.name }}</td>
    <td>{{ product.labels['types'][product.productType[item.productType]] }}</td>
    <td>{{item.applicationsSubjectText}}</td>
    <td>{{getMonthLabel(item.MonthValueDate)}}</td>
    <td>{{ item.sumFile  }}</td>
    <td>{{ item.fileName }}</td>
    <td>{{ item.createdAtApplications | date: 'dd/MM/yyyy' }}</td>
    <td>{{ item.passedToText }}</td>
    <td>{{ item.manualStatusUpdateText }}</td>
    <td>{{ item.SendStatusDate | date: 'dd/MM/yyyy' }}</td>
    <td>{{ item.remarkManual }}</td>
    <td class="text-center row-actions">
      <i class="fa fa-exclamation-circle" (click)="openDetailsDialog(item)"></i>
    </td>
  </tr>
  </tbody>
</table>
<app-pagination [data]="paginationData" (isLinkClicked)="paginateItems()" *ngIf="items.length > 0"></app-pagination>
