<div class="mt-5 data-table">
  <div class="data-table-actions">
    <div>
      <a class="data-table-action" (click)="openFormDialog()">
      <span class="action-logo">
        <i class="fa fa-user"></i>
      </span>
        <span>הוסף איש קשר</span>
      </a>
    </div>
    <div class="mt-3">
      <mat-form-field>
        <mat-select placeholder="בחר סוג איש קשר" (selectionChange)="setEntityType()" [(ngModel)]="searchCriteria['entityType']">
          <mat-option [value]="0">מעסיק</mat-option>
          <mat-option [value]="1">סוכן</mat-option>
          <mat-option [value]="3">יצרן</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="mr-3">
        <mat-select placeholder="בחר איש קשר" (selectionChange)="search()" [(ngModel)]="searchCriteria['entityTypeID']">
          <mat-option *ngIf="!searchCriteria['entityType']">בחר סוג איש קשר</mat-option>
          <mat-option [value]="entity.id" *ngFor="let entity of typeEntities">{{ entity.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="mr-3">
        <input matInput placeholder="חיפוש" type="text" [(ngModel)]="searchCriteria['q']" (keyup)="search($event.keyCode)">
        <i matSuffix class="fa fa-search"></i>
      </mat-form-field>
    </div>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
    <tr class="headers">
      <th *ngFor="let header of headers" (click)="sort(header.column)">
        <span>{{ header.label }}</span>
        <i [class]="getHeaderIconClass()" *ngIf="orderCriteria.orderBy === header.column"></i>
      </th>
      <th>פעולות</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngIf="!isSearching">
      <tr *ngFor="let item of paginatedItems">
        <td>{{ item.firstName }}</td>
        <td>{{ item.lastName }}</td>
        <td>{{ item.phone }}</td>
        <td>{{ item.mobile }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.role }}</td>
        <td class="row-actions">
          <i class="fa fa-pencil" (click)="openFormDialog(item)"></i>
          <!--<i class="fa fa-trash" (click)="delete(item.id)"></i>-->
        </td>
      </tr>
    </ng-container>
    <tr *ngIf="isSearching">
      <td colspan="7">
        <mat-spinner class="mr-auto ml-auto"></mat-spinner>
      </td>
    </tr>'
    <tr *ngIf="">
      <td colspan="7">לא נמצאו אנשי קשר.</td>
    </tr>
    </tbody>
  </table>
  <app-pagination [data]="paginationData" *ngIf="items.length > 0 && !isSearching"></app-pagination>
</div>
