<p class="h3">עריכת חשבונות</p>
<p class="h4">{{ payment.file.employer.name }}</p>
<p class="h4">{{ payment.file.sumFile }}</p>

<mat-radio-group [(ngModel)]="select">
  <mat-radio-button value="1">העברה בנקאית</mat-radio-button>
  <mat-radio-button value="2">צ'ק</mat-radio-button>
</mat-radio-group>

<div class="row" *ngIf="select==1">
  <div class="col-md-2  col-md-push-1">
    <label>חשבון קופה</label>
  </div>
  <mat-form-field class="col-md-3">
    <mat-select placeholder="בחר קופה" [(ngModel)]="bankNumber" (change)="selectionClickBankNumber()">
      <mat-option *ngFor="let bank of bankNumbers" [value]="bank.Value">{{ bank.Text }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="col-md-3">
    <mat-select placeholder="בחר סניף" [(ngModel)]="branchNumber" (change)="selectionClickAccountNumber()">
      <mat-option *ngFor="let branch of bankBranchNumbers" [value]="branch.Value">{{ branch.Text }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="col-md-3">
    <mat-select placeholder="מספר חשבון" [(ngModel)]="accountNumber">
      <mat-option [ngClass]="{'defaultAccount':account.Selected}" *ngFor="let account of bankAccountNumbers" [value]="account.Value">
        {{ bank.Value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div id="btnWrapper">
  <button type="submit" class="btn btn-default" (click)="sendNewBankDetails()">אישור</button>
</div>
