
<div *ngIf="Lode">
<p class="h3">עריכת חשבון מעסיק</p>



<div class="row">


  <div class="col-md-3 ml-5">

        <select2 class="" id="empFormSelect1" [value]="bankNumber"  [data]="banks" [options]="select2Options" 
        (valueChanged)="setBank($event.value)"  #select2></select2>
      </div>
 
  <div class="col-md-3 ml-5" *ngIf="branchNumber!=-1">
 
        <select2 class="" id="empFormSelect2" [value]="branchNumber"  [data]="bankBranches" [options]="select2Options" 
        (valueChanged)="setBankBranch($event.value)"  #select2></select2>
      </div>
       
  <!-- <mat-form-field class="col-md-3">
    <mat-select placeholder="בחר בנק"  [(ngModel)]="bankNumber" (change)="selectionClickBankNumber()">
      <mat-option *ngFor="let bank of bankNumbers" [value]="bank.Value">{{ bank.Text }}</mat-option>
    </mat-select>
  </mat-form-field> -->
  <!-- <mat-form-field class="col-md-3">
    <mat-select placeholder="בחר סניף" [(ngModel)]="branchNumber" (change)="selectionClickAccountNumber()">
      <mat-option *ngFor="let branch of bankBranchNumbers" [value]="branch.Value">{{ branch.Text }}</mat-option>
    </mat-select>
  </mat-form-field> -->
  <div class="col-md-3">
     <input matInput type="number" [(ngModel)]="inputAccountNumber" placeholder="מס' חשבון" name="inputAccountNumber">   
  </div>
</div>
<div id="btnWrapper" class="row">
  <button type="submit" class="btn btn-success float-left mt-3"  (click)="UpdateBankAccountEmployer()">אישור</button>
</div>
</div>