.node-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  height: 35px;
  width: 35px;
  margin: 15px auto 0 auto !important;
  background-color: #0f72b6;
}

.node > p {
  margin: 0;
}

.horizontal-line {
  height: 2px;
  flex-grow: 1;
  background-color: #cdcdc9;
}

::ng-deep .btn-primary {
  min-width: 150px;
  color: #fff !important;
}

@media (max-width: 596px) {
  .node-container {
    width: 120px;
  }
}




