<p mat-dialog-title>פירוט תשלום</p>
<mat-spinner *ngIf="isLoading" class="mx-auto"></mat-spinner>
<div class="data-table" *ngIf="!isLoading">
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>שם יצרן</th>
      <th>בנק</th>
      <th>סניף</th>
      <th>חשבון</th>
      <th>סכום</th>
      <th>סטטוס שידור</th>
      <th>הורד אקסל</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngIf="!isSearching">
      <tr *ngFor="let item of paginatedItems">
        <td>{{ item.product }}</td>
        <td>{{ item.bankBranch.bank.text }}</td>
        <td>{{ item.bankBranch.text }}</td>
        <td>{{ item.bankBranch.bank.number }}</td>
        <td>{{ item.sum }}</td>
        <td>{{ item.transmissionStatus }}</td>
        <td>
          <i class="fa fa-download pointer" (click)="downloadFile(item.id)"></i>
        </td>
      </tr>
    </ng-container>
    <tr *ngIf="items.length === 0">
      <td colspan="20">לא נמצאו תוצאות.</td>
    </tr>
    <tr *ngIf="isSearching">
      <td colspan="20">
        <mat-spinner class="mx-auto"></mat-spinner>
      </td>
    </tr>
    </tbody>
  </table>
  <app-pagination [data]="paginationData" *ngIf="items.length > 0"></app-pagination>
</div>

