
  
<i class="fa fa fa-times pointer mb-3" (click)="onCloseClicked()"  aria-hidden="true"></i>
<p class="h4"> פרטים</p>
 <div class="col-12">
      <i class="fa fa-info-circle fa-lg icon-background2"   
      [matTooltip]="GetBankNameDetails()" matTooltipPosition="above"
       [matTooltipClass]="'mytooltip'"
      >

       </i>
   <span class="light-grey-color">חשבון בנק:</span>
    <span class="black-color" >{{ GetBankDetails() }}</span>
</div>
   <div class="col-12">
   <span class="light-grey-color">תאריך שידור:</span>
    <span class="black-color">{{fileFeedback.SendStatusDate | date: 'dd/MM/yyyy'}}</span>
</div>
   <div class="col-12">
   <span class="light-grey-color">שם קובץ:</span>
    <span class="black-color">{{ fileFeedback.fileName }}</span>
</div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
        <th>שם היצרן</th>
        <th>סוג הקופה</th>
        <th>שם קופה באוצר</th>
        <th>מספר קופה באוצר</th>
        <th>שם קופה בשכר</th>
        <th>מספר קופה בשכר</th>
        <th>סה"כ</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let detail of details">
        <td>{{ detail.Shem_Yatzren }}</td>
        <td>{{ getproductTypeLabel(detail.Kod_Sug_Kupa) }}</td>
        <td>{{ detail.Shem_Kupa }}</td>
        <td>{{ detail.Kod_Kupa }}</td>
        <td>{{ detail.Shem_Kupa_Salary }}</td>
        <td>{{ detail.Salary_Kod_Kupa }}</td>
        <td>{{ detail.S_Total }}</td>
    </tr>
  </tbody>
</table>

