<div class="container-wide">
  <a class="f-18" routerLink="../payment">
    <i class="fa fa-chevron-right align-middle ml-2"></i>
    <span>חזור</span>
  </a>
  <p class="title">פירוט רשומות</p>
  <div class="d-flex justify-content-center py-4 my-3 box-shadow">
    <div class="ml-5">
      <span class="light-grey-color">שם המעסיק:</span>
      <span class="grey-color">{{ process.employer.name }}</span>
    </div>
    <div class="ml-5">
      <span class="light-grey-color">ח.פ:</span>
      <span class="grey-color">{{ process.employer.businessNumber }}</span>
    </div>
    <div class="ml-5">
      <span class="light-grey-color">שם התהליך:</span>
      <span class="grey-color">{{ process.addToProcessName }}</span>
    </div>
    <div class="ml-5">
      <span class="light-grey-color">מספר התהליך:</span>
      <span class="grey-color">{{ process.id }}</span>
    </div>
    <div class="ml-5">
      <span class="light-grey-color">סכום לתשלום:</span>
      <span class="green-color">{{ process.details.paymentSum }} &#8362;</span>
    </div>
    <div>
      <span class="light-grey-color">מספר רשומות:</span>
      <span class="blue-color">{{ process.details.recordNumber }}</span>
    </div>
  </div>
  <div class="data-table">
    <div class="data-table-actions">
      <select2 [data]="products" [value]="0" [options]="select2Options" (valueChanged)="setSearch('productID', $event.value)"></select2>
      <select2 class="mr-3" [data]="employees" [options]="select2Options" (valueChanged)="setSearch('employeeID', $event.value)" #select2></select2>
      <mat-form-field class="mr-3">
        <mat-select placeholder="בחר סינון" [(ngModel)]="searchCriteria['filterID']" (selectionChange)="search()">
          <mat-option *ngFor="let filter of filters" [value]="filter.id">{{ filter.text }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="mr-3">
        <input matInput type="text" placeholder="חיפוש כללי" (change)="search()" [(ngModel)]="searchCriteria['search']">
      </mat-form-field>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>שם העובד</th>
        <th>ת"ז</th>
        <th>סוג תקבול</th>
        <th>מספר קופה בשכר</th>
        <th>שם קופה בשכר</th>
        <th>סוג קופה</th>
        <th>סטטוס</th>
        <th>שם קופה</th>
        <th>מספר באוצר</th>
        <th>חודש תשלום</th>
        <th>חודש ייחוס</th>
        <th class="w-100p">שכר</th>
        <th *ngIf="showFields['SumPitzuim']">פיצויים</th>
        <th *ngIf="showFields['SumMaasik']">הפרשת מעסיק</th>
        <th *ngIf="showFields['SumOved']">הפרשת עובד</th>
        <th *ngIf="showFields['ShonotMaasik']">שונות מעסיק</th>
        <th *ngIf="showFields['ShonotOved']">שונות עובד</th>
        <th *ngIf="showFields['SumTagmulim']">תגמול 47</th>
        <th *ngIf="showFields['SumTagmulimPrat']">אובדן כושר עבודה פרט</th>
        <th *ngIf="showFields['Ovdankosher']">אובדן כושר עבודה</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngIf="!isSearching">
        <tr *ngFor="let item of paginatedItems">
          <td>{{ item.employee.firstName + ' ' + item.employee.lastName }}</td>
          <td>{{ item.employee.identityNumber }}</td>
          <td>{{ getSugTakbulLabel(item.sugTakbul) }}</td>
          <td>{{ item.productEmployer.ProductIdInEmployer }}</td>
          <td>{{ item.productEmployer.name }}</td>
          <td>{{ getProductTypeLabel(item.product.productType) }}</td>
          <td>{{ getStatusDepositLabel(item.statusDeposit) }}</td>
          <td>{{ item.product.name }}</td>
          <td>{{ item.product.id }}</td>
          <td>{{ item.dateMonthPay | date: 'dd/MM/yyyy' }}</td>
          <td>{{ item.TaarichErech | date: 'dd/MM/yyyy' }}</td>
          <td>{{ item.Salary | commatize }} &#8362;</td>
          <td *ngIf="showFields['SumPitzuim']">{{ item.SumPitzuim | commatize }} &#8362;</td>
          <td *ngIf="showFields['SumMaasik']">{{ item.SumMaasik | commatize }} &#8362;</td>
          <td *ngIf="showFields['SumOved']">{{ item.SumOved | commatize }} &#8362;</td>
          <td *ngIf="showFields['ShonotMaasik']">{{ item.ShonotMaasik | commatize }} &#8362;</td>
          <td *ngIf="showFields['ShonotOved']">{{ item.ShonotOved | commatize }} &#8362;</td>
          <td *ngIf="showFields['SumTagmulim']">{{ item.SumTagmulim | commatize }} &#8362;</td>
          <td *ngIf="showFields['SumTagmulimPrat']">{{ item.SumTagmulimPrat | commatize }} &#8362;</td>
          <td *ngIf="showFields['Ovdankosher']">{{ item.Ovdankosher | commatize }} &#8362;</td>
        </tr>
      </ng-container>
      <tr *ngIf="items.length === 0">
        <td colspan="20">לא נמצאו תוצאות.</td>
      </tr>
      <tr *ngIf="isSearching">
        <td colspan="20">
          <mat-spinner class="mx-auto"></mat-spinner>
        </td>
      </tr>
      </tbody>
    </table>
    <app-pagination [data]="paginationData" *ngIf="items.length > 0"></app-pagination>
  </div>


</div>
